<h2>My Heroes</h2>
<ul class="heroes">
    <!-- loop中でheroを展開しselectedHeroと一致するものを修飾する -->
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<!-- selectedHeroに要素が存在するときの条件式 -->
<div *ngIf="selectedHero">

    <!-- uppercaseは対象の文字を大文字に変更する修飾因子 -->
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
        <label>name:
            <!-- ngModelはそう方向バインディングを実現している -->
            <input [(ngModel)]="selectedHero.name" placeholder="name" />
        </label>
    </div>

</div>